<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Client</title>
</head>
<body>
    <h1>New Client</h1>

    <form action="/newClient" method="POST"> 
        <div class="">
            <label for="fName" class="form-label">FirstName</label>
            <input type="text" class="form-control" id="fname" name="fName">
        </div>
        <div class="">
            <label for="lName" class="form-label">LastName</label>
            <input type="text" class="form-control" id="lname" name="lName">
        </div>
        <div class="">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="name" name="address">
        </div>
        <div class="">
            <label for="name" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="name" name="phoneNumber">
        </div>
        <button type="submit">Add Client</button>
    </form>
</body>
</html>